[Unit]
Description=iurgence server api daemon
After=network.target
StartLimitIntervalSec=0

[Service]

Type=simple
Restart=always
RestartSec=1
User=ubuntu
ExecStart=/usr/bin/go run /home/ubuntu/go/src/github.com/Remydeme/devops-ansible/main.go

[Install]
WantedBy=multi-user.target
